<!-- <p id="notice"><%= notice %></p> -->

<h1>Listing Dogs</h1>
  <div class="row">
 <%= form_tag("/dogs", method: "get", role: "search", class: "navbar-form navbar-left") do %>
   <div class="form-group">
     <%= text_field_tag(:search, nil, placeholder: "K9", class: "form-control input-sm") %>
   </div>
   <%= submit_tag("Search", class: "btn btn-default btn-sm") %>
 <% end %>
<br><br>
</div>
<div class="row">

  <% @dogs.each do |dog| %>
    <div class="col-sm-3">
      <div class="panel panel-default <%= 'panel-success' if dog.in_daycare %>">
        <div class="panel-heading">
          <h3 class="panel-title"><%= dog.name %> <%= dog.owner.last_name %></h3>
        </div>
        <div class="panel-body">
          <%= image_tag dog.avatar.url(:medium), class: "img-responsive" %>
        </div>
        <div class="panel-footer">
          <!-- Check In/Out Functionality -->
          <%= form_for(dog, url: dog_path(dog), :html => {class: "form-inline"}) do |f| %>
            <% if dog.in_daycare %>
              <% f.hidden_field :in_daycare, :value => false %>
              <% f.submit "Check Out", class: "btn btn-warning btn-xs" %>
            <% else %>
              <% f.hidden_field :in_daycare, :value => true %>
              <% f.submit "Check In", class: "btn btn-success btn-xs" %>
            <% end %>
          <% end %>
          <%= link_to content_tag(:i, nil, class: "fa fa-eye"), dog %>
          <%= link_to content_tag(:i, nil, class: "fa fa-pencil"), edit_dog_path(dog) %>
          <%= link_to content_tag(:i, nil, class: "fa fa-trash-o"), dog, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div> <!-- panel -->
    </div> <!-- col-md-3 -->
  <% end %>

</div> <!-- row -->
<br>

<%= link_to 'New Dog', new_dog_path, class: "btn btn-info" %>