<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-4">
      <!--  image_tag @dog.avatar.url(:medium), class: "img-responsive dog-show" -->
  </div>
  <div class="col-sm-8">
    <h1><%= "#{@dog.name} #{@dog.owner.last_name}" %></h1>
    <%= link_to 'Back to Dogs', dogs_path, class: "btn btn-default btn-sm" %>
    <%= link_to content_tag(:i, " Edit", class: "fa fa-pencil"), edit_dog_path(@dog), class: "btn btn-warning btn-sm" %>
    <%= link_to content_tag(:i, " Delete", class: "fa fa-trash-o"), @dog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
    <p>
    <br>
      <strong>Owner:</strong>
      <%= link_to "#{@dog.owner.first_name} #{@dog.owner.last_name}", owner_path(@dog.owner_id) %>
    </p>

    <p>
      <strong>Breed:</strong>
      <%= @dog.breed.breed %>
    </p>

    <p>
      <strong>Birthday:</strong>
      <%= @dog.dob %>
    </p>

    <p>
      <strong>Vet:</strong>
      <%= @dog.vet %>
    </p>

    <p>
      <strong>Vet phone:</strong>
      <%= @dog.vet_phone %>
    </p>

    <p>
      <strong>In daycare:</strong>
      <%= @dog.in_daycare %>
    </p>
  </div>
</div>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
